  
<div class="container">
    {{# each birds }}
        <div class="row">
        {{# each this }}
                <div class="col-sm">
                    <div class="card mx-auto d-block" style="width: 18rem;">
                        <img class="card-img-top rounded" src="{{ this.image }}" alt="{{ this.image }} Not found">
                        <div class="card-body">
                            <h5 class="card-title">Denise Dove</h5>
                            <p class="card-text">This {{ this.name }} is {{ this.age }} years old and sex is {{ this.sex }}.</p>
                            <div>
                                <div class="price pull-right">${{ this.price }}</div>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Buy</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
        {{/each}}
        </div>
    {{/each}}
    
</div>

<br>
<div class="d-flex justify-content-center flex-nowrap">
    <div class="row">
         <div class="col-md-8 mx-auto">
            <iframe class="embed-responsive-item hoverable" src="https://www.youtube.com/embed/aavOu8_2ctw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>